<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<header th:replace="fragments :: page-header"></header>

<div>
    <th:block th:if="${mealPlan.monday == 0}">
        <a th:href="@{'/mealplan/selectmeal/monday'}">
            <img  src="/image/monday-not-selected.png">
        </a>



    </th:block>
    <th:block th:if="${mealPlan.monday != 0}">
        <img  src="/image/monday-selected.png">
    </th:block>
</div>

</body>
</html>