<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<header th:replace="fragments :: page-header"></header>
<h1 style="padding: 30px">Meal Plan</h1>

<div class="d-flex flex-row align-items-center">
    <th:block th:if="${mealPlan.monday == 0}">
        <div class="p-2">
            <a th:href="@{'/mealplan/selectmeal/monday'}">
                <img  src="/image/monday-not-selected.png">
            </a>
        </div>
    </th:block>
    <th:block th:if="${mealPlan.monday != 0}">
        <div class="p-2">
            <img  src="/image/monday-selected.png">
        </div>
        <div class="p-2">
            <h3 th:text="${mondayMeal.name}"></h3>
        </div>
        <div class="p-2">
<!--add buttons here for making / changing meal-->
        </div>
    </th:block>
</div>

</body>
</html>