<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Select a Recipe</h2>
    <div>
        <a th:href="@{'/recipes/add'}">
        <p th:unless="${recipes} and ${recipes.size()}">Go Add some recipes!</p>
        </a>
    </div>

    <ul>
        <li th:each="recipe : ${recipes}">
            <p style="display-inline;" th:text="${recipe.name}"></p>
            <input type="submit" class="btn btn-outline-primary" name="recipeId" value="Select" th:value="${recipe.id}"/>

        </li>
    </ul>


</div>