<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1 th:text="'Edit ' + ${recipe.name}">Recipe Name</h1>

<form method="post">
    <div class="form-group">
        <label th:for="name">Recipe Name</label>
        <input class="form-control" th:field="${recipe.name}" th:placeholder="${recipe.name}"/>
        <span th:errors="${recipe.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="recipeType">Recipe Type</label>
        <input class="form-control" th:field="${recipe.recipeType}" th:placeholder="${recipe.recipeType}"/>
        <span th:errors="${recipe.recipeType}" class="error"></span>
    </div>

    <div>
        <h6>Ingredient List</h6>
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col">Measured Amount</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ingredient</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item : ${ingredientListItems}">
                    <td>
                        <input hidden name="items" th:value="${item.id}" >
                    </td>
                    <td>
                        <input class="form-control" name="measuredAmountOnListItem"  th:placeholder="${item.measuredAmountOnListItem}" th:value="${item.measuredAmountOnListItem}">
                    </td>

                    <td>
                        <select name="unitOnListItem" >
                            <option

                                    th:each="unit : ${units}"
                                    th:text="${unit.displayName}"
                                    th:selected="${unit} == ${item.unitOnListItem}"
                                    th:value="${unit}">

                            </option>
                        </select>
                    </td>

                    <td>
                        <select name="ingredientOnListItem" >
                            <option
                                    th:each="ingredient : ${ingredients}"
                                    th:text="${ingredient.name}"
                                    th:selected="${ingredient.id} == ${item.ingredientOnListItem.id}"
                                    th:value="${ingredient.id}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <a th:href="@{'/recipes/edit/' + ${recipe.id} + 'deleteingredient/' + ${item.id}}">
                            <button class="btn btn-outline-danger"  >Delete Ingredient</button>
                        </a>
<!--                        add delete button to table, add delete processing to controller (new method params
                            add "add more" button to bottom after table, add recipe steps, format page-->
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

        <div class="form-group">
            <label th:for="recipeSteps">Recipe Steps</label>
            <textarea class="form-control" th:field="${recipe.recipeSteps}" rows="10" th:placeholder="${recipe.recipeSteps}"></textarea>
        </div>

    <input type="submit" class="btn btn-outline-success" value="Save Changes" name="saveChanges">
</form>


</body>
</html>