<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>All Recipes</h2>
    <div>
        <p th:unless="${recipes} and ${recipes.size()}">Add some recipes!</p>
    </div>
    <div>
        <a th:href="@{'/recipes/add'}">
            <button class="btn btn-outline-primary">Add A New Recipe</button>
        </a>
    </div>
    <ul>
        <li th:each="recipe : ${recipes}">
            <a th:href="@{'/recipes/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/recipes/add'}"><button class="btn btn-outline-primary">Add A New Recipe</button></a>

</div>
