<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1 th:text="${recipe.name}">Recipe Name</h1>

<div>
    <ul>
        <li th:text="${'Recipe Type: ' + recipe.recipeType}"></li>
        <li th:unless="${recipe.lastMade == null}" th:text="${'Last Made: ' + recipe.lastMade}"></li>
        <li th:if="${recipe.lastMade == null}">Last Made: NEVER!!</li>
    </ul>
</div>

<div>
    <h2>Ingredient List</h2>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Measured Amount</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ingredient</th>
                </tr>
            </thead>
<!--            <tbody>-->
<!--                <tr h:each="item : ${recipe.ingredientListItems}">-->
<!--                    <td th:text="${item.getMeasuredAmountOnListItem()}"></td>-->
<!--                </tr>-->
<!--            </tbody>-->
        </table>
    </div>
</div>
</body>
</html>