<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<header th:replace="fragments :: page-header"></header>

<h1 style="padding-top:60px;" th:text="${welcome}">Welcome to Dinner Circle!</h1>

<div style="padding-top:40px;">
    <a class="btn btn-outline-danger btn-lg" th:href="@{/recipes}" role="button">Go To Your Recipes</a>
</div>

<div style="padding-top:40px;">
    <a class="btn btn-outline-success btn-lg" th:href="@{/mealplan}" role="button">Go To Your Meal Plan</a>
</div>

<div style="padding-top:40px;">
    <a class="btn btn-outline-info btn-lg" th:href="@{/home}" role="button">Go To Your Shopping List</a>
</div>

<div style="padding-top:40px;">
    <a class="btn btn-outline-primary btn-lg" th:href="@{/home}" role="button">Be Social</a>
</div>


</body>
</html>